<div>
    <h3>Query Result: {{i}}</h3>
    <p><strong>Title:</strong> {{title}}</p>
    <p><strong>Titleshort:</strong> {{titleshort}}</p>
    <p><strong>ISBN Code:</strong> {{isbn}}</p>
    <p><strong>Work ID:</strong> {{workid}}</p>
    <p>---------------------------------------------</p>
</div>